
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by <a href="https://www.linkedin.com/in/viktor-marchuk-0b0214137" target="_blank"> MV</a></p>
  </div>
</div>
</body>
</html>
